<?xml version="1.0"?>
<launch>
    <!-- <arg name="use_present" default="true" /> -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find uthai_description)/urdf/uthai.urdf.xacro'" />
    <!-- send joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="false"/>
        <param name="rate" value="30"/>
        <remap from="/joint_states" to="/robotis/uthai/joint_states" />
        <!-- <rosparam param="source_list" if="$(arg use_present)">["robotis/uthai/present_joint_states"]</rosparam> -->
        <!-- <rosparam param="source_list" unless="$(arg use_present)">["robotis/uthai/goal_joint_states"]</rosparam> -->
    </node>
    <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
        <remap from="/joint_states" to="/robotis/uthai/joint_states"/>
    </node>
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find uthai_description)/config/rviz_uthai.rviz" /> -->
</launch>